<div class="alert alert-success"><%= notice %></div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @book.descritpion %>
</p>


<div class="button group">
<%= link_to 'Edit', edit_book_path(@book), :class =>"btn btn-default" %>
<%= link_to 'Back', books_path, :class => "btn btn-default" %>
</div>
